[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"zc.buildout" = "==2.13.3"
# TODO
# https://github.com/pypa/pipenv/issues/2364
# Force install with pipenv install "setuptools==50.3.0"
setuptools = "==50.3.0"
requests = "latest"

[requires]
python_version = "3.8"
